* {
    font-family: 'Calibri', 'Tahoma', 'Verdana', 'Arial', sans-serif;
}

/* Fonts */
.monika {
    font-family: 'Journal';
    font-size: 1.45rem;
}

.natsuki {
    font-family: 'Ammys Handwriting';
}

.sayori {
    font-family: 'Hashtag';
    font-size: 1.9rem;
}

.yuri1 {
    font-family: 'JP Hand Slanted';
    font-size: 1.6rem;
}

.yuri2 {
    font-family: 'As I Lay Dying';
    font-size: 1.55rem;
}

.yuri3 {
    font-family: 'Damagrafik Script';
}

.special {
    font-family: 'A Typewriter For me';
}

@keyframes animatedBackground {
	from { background-position: 50% 0; }
	to { background-position: 50% -100vh; }
}

html {
    font-size: 12pt;
    overflow: hidden;
}

body {
    background: url('../img/club.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    display: none;
}

.hxppythxughts {
    background: url('../img/eyes.png') repeat-y center center fixed;
    background-color: #000000;

    animation: animatedBackground 1.33s linear infinite;
}

/* Browser specific (not valid) styles to make preformatted text wrap */		
/* From: https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.input-row {
    margin: 0.75rem 0;
}

#poemFont {
    width: 90px;
}

#mainModal h1 {
    margin: 1rem 0;
}

#poemInput textarea
{
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    resize: none;
    min-height: 10rem;
}

.modal {
    max-width: 960px;
}

.credits {
    font-size: 0.75rem;
}

.paper {
    width: 60%;
    min-width: 720px;
    height: 100vh;
    min-height: 720px;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.25rem;

    background: url('../img/poem.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    cursor: default;

    /* Show using JS */
    display: none;
}

.paper pre {
    margin: 1rem;
    max-width: 100%;
}

.paper.yuri2 {
    background-image: url('../img/poem_y1.jpg');
}

.paper.yuri3 {
    background-image: url('../img/poem_y2.jpg');
}

/* jQuery Modal */
.blocker {
    background-color: rgba(235, 235, 188, 0.4);
}

.modal {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 4px solid #FFBDE1;
    background: #FFE6F4;
}